
@{
    ViewData["Title"] = "ProductNotFound";
}

    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/images/400.png")" alt="image" class="img-fluid" />
    </div>
<h1>ProductNotFound</h1>

